@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$primary: #37517e;
$secondary: #47b2e4;
$dark-blue: #2a84ad;
$light-blue: #f3f5fa;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  &:hover {
    color: lightblue;
  }
}

a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 300ms;
  &:hover {
    color: lightblue;
  }
}

ul li {
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
  transition: ease-in-out 300ms;
  &:hover {
    color: $dark-blue;
  }
}

.bg-primary {
  background-color: $primary !important;
  color: white;
}

.bg-light-blue {
  background-color: $light-blue;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.btn-primary {
  background-color: $secondary;
  border: inherit;
  border-radius: 30px;
  padding: 10px 20px;
  &:hover {
    background-color: $dark-blue;
  }
}

.btn-outline-primary {
  border-color: $secondary;
  color: $secondary;
  border-radius: 30px;
  padding: 10px 20px;
  &:hover {
    color: $secondary;
    border-color: $secondary;
    background-color: $secondary;
  }
}

.btn-outline-dark {
  border-radius: 30px;
  padding: 10px 20px;
}

.form-control {
  border-radius: 30px;
  padding: 10px;
}

input {
  border-radius: 30px;
  padding: 10px;
  max-width: 400px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
}

label {
  line-height: 1;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
}

.error {
  color: #bf1650;
  &::before {
    display: inline;
    content: "⚠ ";
  }
}

.blue-circle {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
  background-color: $secondary;
}
